.video {
	padding-top: 40px;
	object-fit: cover;

	&__control {
		position: absolute;
		top: 600px;
		left: 50%;
		width: 70px;
		height: 70px;
		margin-left: -35px;
		transition: background-color 200ms ease-in-out;
		border: 5px solid $white;
		border-radius: 50%;
		background-color: transparent;

		&:hover {
			background-color: $contrast;
			cursor: pointer;
		}

		.play {
			display: block;
			width: 0;
			height: 0;
			margin: 15px 14px;
			border-width: 15px 0 15px 28px;
			border-style: solid;
			border-color: transparent transparent transparent $white;
		}

		.stop {
			display: block;
			width: 28px;
			height: 28px;
			margin: 0 10px;
			background-color: $white;
		}
	}
}
